<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <ExcludeApp_Data>False</ExcludeApp_Data>

        <MSDeployServiceURL>https://site55218.siteasp.net:8172/msdeploy.axd</MSDeployServiceURL>
        <DeployIisAppPath>site55218</DeployIisAppPath>
        <UserName>site55218</UserName>
        <Password>Yy4!@Ws6Kt9+</Password>
        <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
        
        <RemoteSitePhysicalPath/>
        <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>True</EnableMSDeployBackup>
        <_SavePWD>True</_SavePWD>
        <SelfContained>false</SelfContained>
        <_IsPortable>true</_IsPortable>
    </PropertyGroup>
</Project>